<main class="mainshow">

  <nav>
    <a href="/tasks">Home</a>
  </nav>

  <h4>
    Task #<%= one_task.id %>.
    <%= one_task.task %>
  </h4>

  <p>Completed? <em><%= one_task.completed %></em></p>
  <%= link_to "Remove", one_task.task, :method => :delete %>

</main>
