<!DOCTYPE html>
<html>
<head>
  <title>Todosapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class=header>My Todo App in Rails</h1>
    <nav class=navbar>
      <a href="/incomplete">Incomplete</a> <!--link to all tasks with completed = false-->
      <a href="/finished">Finished</a>
    </nav>
  </header>
    <main>
     <%= yield %>



  <footer>Created by @mmdotz</footer>
</body>
</html>
